#### Timestamp Variabe approach

I am doing this extra part of the exercise to fit in the timestamp as a categorial variable to see how will this actually affect the model and support my answers.

Using the link https://www.ritchieng.com/pandas-date-time/ to convert timestamps
and https://stackoverflow.com/questions/32278728/convert-dataframe-date-row-to-a-weekend-not-weekend-value/32280195 to mark weekends

In [1]:
import pandas as pd
import numpy as np
import datetime

In [35]:
df = pd.read_csv(r'C:\Users\ASUS\OneDrive\Courses\Business Analytics\Data Analyst Nanodegree\Part03PracticalStatistics\Project03\ab_data.csv')
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [36]:
df['timestamp'] = pd.to_datetime(df.timestamp)

In [37]:
df['day']= df.timestamp.dt.weekday_name.head()

In [44]:
df['weekday'] = ((pd.DatetimeIndex(df.timestamp).dayofweek) // 5 == 1).astype(float)

In [48]:
df.head()

,user_id,timestamp,group,landing_page,converted,day,weekday
0,851104,2017-01-21 22:11:48.556739,control,old_page,0,Saturday,1.0
1,804228,2017-01-12 08:01:45.159739,control,old_page,0,Thursday,0.0
2,661590,2017-01-11 16:55:06.154213,treatment,new_page,0,Wednesday,0.0
3,853541,2017-01-08 18:28:03.143765,treatment,new_page,0,Sunday,1.0
4,864975,2017-01-21 01:52:26.210827,control,old_page,1,Saturday,1.0

In [40]:
pd.DatetimeIndex(df.timestamp).dayofweek

Int64Index([5, 3, 2, 6, 5, 1, 3, 1, 2, 6,
            ...
            0, 2, 2, 5, 2, 1, 3, 6, 6, 0],
           dtype='int64', name='timestamp', length=294478)